#leps-slider
{
    width: 100%;
    padding-left: 80px;
}
#leps-slider div
{
    font-family: monospace;
}

.lep-slider-wrapper {
  position: relative;
  overflow: hidden;
  /**
   *
   * Navigator
   *
   **/
  /**
   *
   * Directors
   *
   **/
}

.lep-slider-wrapper .slides-container {
  position: relative;
  width: auto;
  -moz-transition: inherit;
  -o-transition: inherit;
  -webkit-transition: inherit;
  transition: inherit;
  z-index: 1;
}
/* 
.lep-slider-wrapper.leps-type-fade > .slides-container > .slide-item {
  position: fixed;
  width: 80%;
} */

.lep-slider-wrapper.leps-type-fade > .slides-container > .slide-item {
  opacity: 0;
  -moz-transition: inherit;
  -o-transition: inherit;
  -webkit-transition: inherit;
  transition: inherit;
  display: none;
}

.lep-slider-wrapper.leps-type-fade > .slides-container > .slide-item.leps-active-slide {
  opacity: 1;
  z-index: 9999;
  display: block;
}

.lep-slider-wrapper .leps-navigator {
  position: fixed;
  left: 50%;
  bottom: 0px;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
  height: 30px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.lep-slider-wrapper .leps-navigator > li {
  display: block;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  float: left;
  border-radius: 10px;
  margin: 5px;
}

.lep-slider-wrapper .leps-navigator > li a {
  display: block;
  width: 100%;
  cursor: pointer;
}

.lep-slider-wrapper .leps-navigator > li.active {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: auto;
}

.lep-slider-wrapper .leps-directives {
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.7);
}

.lep-slider-wrapper .leps-directives li {
  position: absolute;
  display: block;
  width: 70px;
  height: 60px;
  background: rgba(0, 0, 0, 0.1);
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.lep-slider-wrapper .leps-directives li a {
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
  height: 40px;
  width: 60px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}
/* line 133, ../sass/leps-slider.scss */
.lep-slider-wrapper .leps-directives li.leps-next {
  right: 0;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 20px 0 0 20px;
}

.lep-slider-wrapper .leps-directives li.leps-next a {
  border-radius: 10px 0 0 10px;
  margin: 10px 0 0 10px;
}

.lep-slider-wrapper .leps-directives li.leps-prev {
  left: 0;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 0 20px 20px 0;
}

.lep-slider-wrapper .leps-directives li.leps-prev a {
  border-radius: 0 10px 10px 0;
  margin: 10px 10px 0 0;
}
/* line 157, ../sass/leps-slider.scss */
.lep-slider-wrapper .leps-directives li.leps-inactive {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.2);
}
