<header id="header">
    <div class="logo">
        <span class="icon fa-gem"></span>
    </div>
    <div class="content">
        <div class="inner">
            <h1>{{ site.resume_name }}</h1>

            {% if site.display_header_contact_info == 'true' %}
            <div class="header-contact-info">
                <p>{{ site.resume_header_contact_info }}</p>
            </div>
            {% endif %}

            <p>{{ site.resume_header_intro }}</p>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="#intro">Intro</a></li>
            <li><a href="#work">Work</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#elements">Elements</a></li>
        </ul>
    </nav>
</header>